[build]
  publish = "dist"

[[redirects]]
  from = "/auth/callback"
  to = "/index.html"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = true

[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = "img-src 'self' data: https://avatars.githubusercontent.com https://*.githubusercontent.com https://gratitude-wall-production.up.railway.app;"
